
<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/header.ejs') %>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="book.css">

    </head>


    <body onload = "startTimer()">

        <div class = "top">
            <script src = "moving_img_index.js"> </script>
            <button type="button" onclick="displayPreviousImage()"><b><</b></button>
            <img id="img1" src="image1.jpg" alt= "Images" style="width:47%; height:83%; padding-top:1%; background-repeat:repeat-x;">
            <img id="img2" src="image2.jpg" alt= "Images" style="width:47%; height:83%; padding-top:1%; background-repeat:repeat-x;">
            <button type="button" onclick="displayNextImage2()"><b>></b></button>
            <br>
            
            <h2><u>BOOKSTORE MANAGEMENT</u></h2>
            
            <!-- Navbar -->
            <div id="nav_left">
                <ul>
                <li><a href="/delete_book">Delete Book</a></li>
                <li><a href="/update_book">Update Book</a></li> 
                <li><a href="/books">All Books</a></li>           
                <li><a href="/">Home</a></li>
                </ul>
            </div>

            <div id = "nav_right">
                <form action="/search_book_by_id" method="POST">
                    <input type="text" name ="isearch" id = "isearch" placeholder="Search Book by Id">
                    <!-- <input type="hidden" name="username" id = "username"> -->
                    <input type="submit" value="Search">
                </form>
            </div>
            <hr color="white">
        </div>

        <div class = "bottom">
            <form method="POST" action="/add_book">
                <label>Title:</label>
                <input type="text" name="title" required />
            
                <label>Author:</label>
                <input type="text" name="author" />
            
                <label>ISBN:</label>
                <input type="text" name="isbn" required />
            
                <label>Price:</label>
                <input type="number" name="price" required />Rs.
                <br><br>
            
                <button type="submit">Add Book</button>
            </form>
        </div>

    </body>

</html>

